body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #af2424;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.6em;
    margin-bottom: 1em;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}